*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Bender, sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;
    color: var(--textColor);
    background: var(--backgroundColor);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

.hide {
    display: none !important;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--mainWidth);
    padding: 0 15px;
}

header img {
    width: 125px;
}

main {
    width: var(--mainWidth);
    min-height: calc(100vh - 125px);
    padding: 25px;
}

main h2 {
    margin-bottom: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_bar_con {
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;

    & label {
        display: flex;
        align-items: center;
        gap: 15px;

        height: 100%;
        width: 100%;

        & input {
            height: 100%;
            width: 100%;
            padding: 8px;
            text-align: center;
            border-radius: 8px;

            font-size: 1.5rem;
            font-weight: bold;

            border: 1px var(--color-mediumBrown) solid;
            background: var(--color-brown);
            color: var(--color-white);
        }
    }

    .clear_but {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 32px;
        width: 32px;

        & i {
            font-size: 32px;
        }
    }
}

.ammo-types {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.ammo-types .item {
    position: relative;

    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background: var(--color-brown);
}

.ammo-types .item i {
    position: absolute;
    right: 25px;

    font-weight: 1000;
    font-size: 2rem;
    transition: .3s;
}

.ammo-types .item.active i {
    transform: rotate(180deg);
}

.ammo-types .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.ammo-types .panel .ammo_info {
    padding: 15px;
}

.ammo_info .column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.ammo_info .peace {
    background: var(--color-mediumBrown);
    width: calc(100% / 2.1);
    padding: 5px;
}

.ammo-types .panel .item {
    background: var(--color-mediumBrown);
}

.ammo-types .panel .item i {
    top: 60%;
    right: 20px;
    font-size: 1.5rem;
}

.ammo-types .panel .panel {
    background-color: var(--color-lightBrown);
}

footer {
    display: flex;
    justify-content: center;
    width: var(--mainWidth);
    padding-bottom: 25px;

    & a {
        color: var(--color-lightBrown);
    }
}

@media (max-width: 320px) {
    header img {
        display: none;
    }

    header h1 {
        margin-top: 15px;
    }
}

@media (min-width: 400px) {
    .ammo_info .peace {
        width: calc(100% / 3.2);
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --mainWidth: 1200px;
    }
}